<!DOCTYPE html>
<html>
  <head>
    <title>H1b Chosen Probability H1b 抽签概率</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73060540-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-73060540-3');
  </script>
</html>
